Codefarts.ExtensionMethodsNETStd20/obj/
Codefarts.ExtensionMethodsNETStd20/.vs/
Codefarts.ExtensionMethodsNETStd20/bin/
codealike.json
Codefarts.ExtensionMethods_Tests/bin/
Codefarts.ExtensionMethods_Tests/obj/
.vs/
Codefarts.ExtensionMethodsStd21/obj/
Codefarts.UnitTestExtensionMethodsStd20/obj/
Codefarts.ExtensionMethodsStd21/bin/
Codefarts.ExtensionMethodsCore31/obj/
Codefarts.ExtensionMethodsCore31/bin/
Codefarts.UnitTestExtensionMethodsStd20/bin/
