Codefarts.ExtensionMethodsNETStd20/obj/
Codefarts.ExtensionMethodsNETStd20/.vs/
Codefarts.ExtensionMethodsNETStd20/bin/
codealike.json
Codefarts.ExtensionMethods_Tests/bin/
Codefarts.ExtensionMethods_Tests/obj/
